table{
  max-width: 60vh;
  max-height: 80vh;
  position: center;
  overflow: auto;
  background-color: bisque;
}

button{
  width: 10px;
}

#cButton{
  color: grey;
  width: fit-content;
}

p#prio{
  border-radius: 4px;
  width: 70px;
  text-align: center;
}


#addButton
{
  margin-top: 10px;
  background-color: #c2185b;
  border-color: #c2185b;
  border-radius: 50px;
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
}

#header{
  width: 100px;
}