
body{
  background-color: black;
}

button{
  width: 10px;
}

#cButton,#actionButton{
  background-color: greenyellow;
  border-color: greenyellow;
  height: 40px;
  width: 100%;
}
#actionButton{
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}

#actionText{
  background-color: darkorchid;
}

p#prio{
  border-radius: 4px;
  width: 100%;
  height: 100%;
  text-align: center;
}


#addButton
{
  margin-top: 10px;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
  border-radius: 50px;
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
}


#center{
  text-align: center;
  line-height: 30px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin: 0 0 0px;
}




table {
  table-layout: fixed;
  width: 100%;
  border: solid white 1px;
}

table, th, td {
  border: 1px solid white;
    /* css-3 */
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    color:white;
    font-size: 20px;
}



input[type=text], select {
  width:100%;
  height: 60px;
  font-size: 25px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#description{
  min-width: 500px;
}