<body>
  <button id="addButton" (click)=addTodo()><mat-icon>add</mat-icon></button>
  <input type="text" placeholder="Search" [(ngModel)]="search" (change)="filter(search)">
  <table>
  <tr>
    <th><button id="cButton" (click)="sortName()">Person</button></th>
    <th><button id="cButton" class="description" (click)="sortDescripton()">Descripton</button></th>
    <th><button id="cButton" (click)="sortPriority()">Priority</button></th>
    <th><button id="cButton" (click)="sortLength()">Length</button></th>
    <th id="actionText">Actions</th>
  </tr>
  <tr>
  <tr *ngFor="let t of dataSource ">
    <td style="background-color: black;">{{t.person}}</td>
    <td id="center" style="background-color: black;">{{t.description}}</td>
    <td id="center" style="background-color: black;"><p id="prio" [style.backgroundColor]="getColor(t.priority)">
      {{getPrior(t.priority)}}
    </p></td>
    <td id="center" style="background-color: black;">{{t.length}} Stunden</td>
    <td>
      <button id="actionButton" style="background-color: purple;"><mat-icon>edit</mat-icon></button>
      <button  (click)="remove(t.id)" id="actionButton" style="background-color: purple;"><mat-icon >delete</mat-icon></button>
    </td>
  </tr>
</table>


</body>
