table{
  max-width: 60vh;
  max-height: 80vh;
  position: center;
  overflow: auto;
  background-color: bisque;
}

button{
  width: 10px;
}

#cButton{
  color: lightgray;
  width: fit-content;
}

p#prio{
  border-radius: 4px;
  width: 70px;
  text-align: center;
}
